

$section_padding_desktop: 5%;


// colours

$primary_color_dark_blue_1: hsl(217, 28%, 15%);
$primary_color_dark_blue_2: hsl(218, 28%, 13%);
$primary_color_dark_blue_3: hsl(216, 53%, 9%);
$primary_color_dark_blue_4: hsl(219, 30%, 18%);

$accent_color_cyan: hsl(176, 68%, 64%);
$accent_color_blue: hsl(198, 60%, 50%);
$accent_color_light_red: hsl(0, 100%, 63%);

$neutral_color_white: hsl(0, 0%, 100%);

// fonts

$font_heading: 'Raleway', sans-serif;
$font_body: 'Open Sans', sans-serif;

// Paddings
$padding_sm: 2.5rem 2rem;
$padding_md: 3.5rem 3rem;
$padding_lg: 4.5rem 4rem;
$padding_footer: 15rem 4rem 1rem;
$padding_footer_tablet: 20rem 3rem 1rem;
$padding_footer_mobile: 25rem 3rem 1rem;